---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <!-- DATASET SIDE WINDOW-->
  <div id="top-window" class="top-sliding-window">
    <div class="top-window-content">
      <hr>
      <h2>BindingDB Dataset</h2>
      <hr>
      <p> The project uses <a href="https://www.bindingdb.org" target="_blank">BindingDB</a>,
        a dataset of binding interactions between proteins and small molecules (October 2024 version).
      <br>
      We selected among 3 646 protein famillies the tyrosine-protein kinase hopscotch familly! 
      <br> 
      &#10085 9 proteins target
      <br>
      &#10085 30 348 ligands
      
      </p>
    </div>
  </div>
  
    <!-- ABOUT SIDE WINDOW-->
    <div id="side-window" class="side-window">
      <button class="close-button" onclick="toggleSideWindow()">×</button>
      <div class="side-window-content">
        <!-- Add your widgets or content here -->
        <h2>About Us</h2>
        <p>
          This project was realized by the laambada team for the 2024 edition of the 
          <a href="https://epfl-ada.github.io/teaching/fall2024/cs401/" target="_blank">EPFL ADA course</a>.
          We are <a href="https://github.com/Aykelia" target="_blank">Aygul</a> ,
          <a href="https://github.com/maud73" target="_blank">Maud</a>, 
          <a href="https://github.com/lauragambaretto" target="_blank">Laura</a>, 
          <a href="https://github.com/barbaragrosjean" target="_blank">Barbara</a>, 
          and <a href="https://github.com/lighthea" target="_blank">Alexandre</a>.

          <img src="assets/images/about.png" alt="About us" style="width:100%">
          

        </p>
      </div>
    </div>
    <button id="open-side-window" onclick="toggleSideWindow()">☰</button>
    
    <!-- For side image : familly plots 
    <div class="image-container">
      <iframe src="/assets/plots/umap_target_full.html" width="100%" height="400px"></iframe>
      <figcaption> Umap Full: Familly coloration </figcaption>
    </div>
     -->

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- Script for the side window ABOUT --> 
    <script>
      function toggleSideWindow() {
        const sideWindow = document.getElementById('side-window');
        sideWindow.classList.toggle('open');
      }
    </script>

    <!-- Script for the switch plot boutton -->
    <script>
      function switchPlot(index) {
        const plots = document.querySelectorAll('.plot');
        plots.forEach((plot, i) => {
        plot.classList.toggle('active', i === index);
        });
      }
    </script>



  <script src="{{ "/assets/js/scroll-behavior.js" | relative_url }}"></script>

  </body>
</html>
